<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="markets_path">All Markets and vendors</a>
        </li>
        <li>
          <a href="products_path">All Products</a>
        </li>
        <li>
          <a href="sales_path">Sales</a>
        </li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
